/* _content/CI-Platform/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.navbar[b-z4picm1zyd] {
    padding-left: 25vw;
    padding-right: 7.5vw;
}

#navbarDropdown2[b-z4picm1zyd] {
    color: #333333;
}

.userimg[b-z4picm1zyd] {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.dropdown-toggle[b-z4picm1zyd]::after {
    display: none !important;
}

.footer[b-z4picm1zyd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
