body 
{
    width: 100%;
    height: 100%;
}

.imgdesign {
    width: 100%;
    height: 100vh;
}
.row {
    height: 100vh;
}

#growtree {
    width: 100%;
    height:100vh;
    position: relative;
    opacity: 1;
    filter: brightness(90%);
    object-fit: cover;
}

.form-label {
    width: 100%;
    font-family: NotoSans-Light;
    font-size: 16px;
    letter-spacing: 0px;
    color: #414141;
}



.imgtxt1 {
    font-family: NotoSans;
    font-size: 43px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.imgtxt2 {
    font-family: NotoSans-Light;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.lgdetail {
    width: 100%;
    height: 344px;
    opacity: 1;
}

.lgin {
    width: 402px;
}

#lgbtn {
    margin-top: 1em;
    font-family: NotoSans;
    font-size: 17px;
    width: 100%;
    height: 48px;
    background: #F8863400;
    border: 2px solid #F88634;
    border-radius: 24px;
    opacity: 1;
    color: #F88634;
}
    #lgbtn a 
    {
        color: #F88634 !important;
    }

    #lgbtn :hover {
        transition-property: none;
    }

#forgetpassword {
    font-family: NotoSans-Light;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
}

#forpas {
    color: #414141;
}

#creatacc {
    font-family: NotoSans-Light;
    font-size: 14px;
    text-align: center;
    margin-top: 15.5px;
    color: #414141;
}

#crtac {
    color: #2B64B1;
}

a:link {
    text-decoration: none;
}

#footer {
    font-family: NotoSans-Light;
    font-size: 14px;
    /* margin-top: 20em; */
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #414141;
    opacity: 1;
}


@media only screen and (max-width: 1205px) {
    .imgtxt1 {
        display: none;
    }

    .imgtxt2 {
        display: none;
    }
}


@media only screen and (max-width: 765px) {
    .lgin {
        margin-top: 50px;
    }
    #growtree {
        object-fit: inherit;
        height: auto;
    }
}

@media only screen and (max-width: 410px) {
    .lgin {
        width: 100%;
    }
}


